{
  "extends": "./index.js",
  "rules": {
    "max-len": 0,
    "quote-props": ["error", "consistent"],
    "quotes": ["error", "double", {"allowTemplateLiterals": true, "avoidEscape": true}],
  },
}
